* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.card-footer-item {
  color: black;
}

body {
  background-image: linear-gradient(white, rgb(51, 164, 253));
  background-color: #e0edff;
  min-height: 100vh;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

h1 {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  font-weight: 200;
  background-color: rgb(51, 164, 253);
  color: white;
  font-size: 28px;
}

strong {
  font-weight: 800;
  color: white;
}

h2 {
  font-weight: 400;
  font-size: 22px;
}

.input {
  font-size: 12px;
}

.button {
  font-size: 12px;
}

.stock-card {
  background-color: rgb(59, 59, 59);
  color: white
}

li {
  font-size: 14px;
}

footer {
  display: flex;
  font-weight: 200;
  background-color: rgb(51, 164, 253);
  color: white;
  padding-left: 1%;
  padding-right: 1%;
}
.news {
width: 33%;
}
.name-group {
margin-left: auto;
display: flex;
gap: 15px;
}

a {
  color: white;
}

.card-box {
 background-color: aliceblue;
 border-radius: 2%;
}


.content {
  color: rgb(59, 59, 59);
}

#word {
  font-weight: 900;
  font-size: 23px;
}

#wordType {
  font-style:italic;
  font-size: 15px;;
  
}

#definition {
  font-size: 15px;
}